* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 22px;
}
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid grey;
}
#men:hover, #profile:hover {
    border-bottom: 4px solid #EE5F73;
}
#women:hover{
    border-bottom: 4px solid #FB57C1;
}
#kids:hover {
    border-bottom: 4px solid #F26A10;
}
#home:hover {
    border-bottom: 4px solid #F2C210;
}
#beauty:hover {
    border-bottom: 4px solid #0DB7AF;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 0px;
}
.catagory {
    padding: 10px;
    padding-top: 28px;
    padding-bottom: none;
    font-weight: 550;
    cursor: pointer;
    border: none;
}
#logo {
    margin-right: 40px;
    height: 100%;
}
#logo > a > img {
    height: 100%;
}
#searchbox {
    background-color: #F5F5F6;
    border-radius: 5px;
    padding: 8px;
    padding-inline: 16px;
    margin-top: 16px;
    display: flex;
    height: 40px;
    width: 300px;
    margin-right: 21px;
    margin-left: 20px;
}
#menusearch {
    display: flex;
    justify-content: space-evenly;
}
.optn {
    cursor: pointer;
    padding: 8px;
}
#searcharea {
    cursor: text;
    margin-left: 14px;
    width: 100%;
    height: 100%;
    cursor: text;
}

#searchicon img {
    padding: 3px;
    width: 100%;
    height: 100%;
}
#search {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.optn_icon img {
    width: 30px;
    height: 30px;
}
#menu > div img {
    width: 40px;
    height: 50px;
}
#menu {
    border-radius: 6px;
    border: 1px solid palevioletred;
    padding: 5px;
    height: fit-content;
    display: none;
}
.optn_icon {
    text-align: center;
}
.optn_content p {
    text-align: center;
}
#insider {
    position: absolute;
    transform: skew(-10deg) translatex(10px);
    border-radius: 3px;
    transform-origin: bottom left;
    color: white;
    font-weight: bolder;
    padding: 1px;
    padding-inline: 6px;
    background-color: #FE5F73;
    font-size: 12px;
}
#log {
    padding: 10px;
    border: 1px solid lightgray;
    color: #FE5F73;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    margin: 6%;
}
#logOpt > li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px;
}
#logOpt > li:hover{
    font-weight: bold;
}
#profile_section {
    width: 78px;
    overflow: visible;
}
#profile_options {
    margin-top: 6px;
    padding: 8px;
    border: 1px solid lightgray;
    width: max-content;
    transform: translatex(-80px);
}
#log:hover {
    border: 1px solid #FE5F73;
}
.navHover {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 3%;
    padding-inline: 2%;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid gainsboro;
    border-radius: 8px;
    display: none;
}
.nav_column {
    padding-inline: 2%;
}
.navListItem:hover {
    font-weight: bold;
}
.navListItem {
    font-size: 14px;
    list-style-type: none;
}
#nav_men > .nav_column > h3 {
    color: #EE5F73;
    margin-bottom: 5px;
    font-size: 16px;
}
#nav_men > .nav_column:nth-child(2n) {
    background-color: #FBFBFB;
}
#nav_women > .nav_column > h3 {
    color: #FB57C1;
    margin-bottom: 5px;
    font-size: 16px;
}
#nav_women > .nav_column:nth-child(2n) {
    background-color: #FBFBFB;
}
#nav_kids > .nav_column > h3 {
    color: #F26A10;
    margin-bottom: 5px;
    font-size: 16px;
}
#nav_kids > .nav_column:nth-child(2n) {
    background-color: #FBFBFB;
}
#nav_home > .nav_column > h3 {
    color: #F2C210;
    margin-bottom: 5px;
    font-size: 16px;
}
#nav_home > .nav_column:nth-child(2n) {
    background-color: #FBFBFB;
}
#nav_beauty > .nav_column > h3 {
    color: #0DB7AF;
    margin-bottom: 5px;
    font-size: 16px;
}
#nav_beauty > .nav_column:nth-child(2n) {
    background-color: #FBFBFB;
}
#searchresult {
    width: 300px;
    height: 250px;
    background-color: #F5F5F6;
    margin-left: 20px;
    padding: 10px;
    display: none;
}
#searchother {
    padding: 5px;
    font-size: 14px;
    color: #696E79;
    width: 100%;
    font-weight: 600;
    background-color: #EAEAEC;
}
#searchlist > li {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #696E79;
    list-style-type: none;
}
#searchlist > li:hover {
    color: white;
    background-color: #282C3F;
}
@media only screen and (min-width: 600px) {
    .catagory {
        display: none;
    }
    #logo {
        margin-right: 0px;
    }
    #navbar {
        justify-content: space-around;
    }
    #menu {
        display: block;
    }
    .optn {
        display: none;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .catagory {
        display: none;
    }
    #logo {
        margin-right: 40px;
    }
    #navbar {
        justify-content: space-evenly;
    }
    #menu {
        display: block;
    }
    .optn {
        display: block;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .catagory {
        display: block;
    }
    #logo {
        margin-right: 40px;
    }
    #navbar {
        justify-content: space-between;
    }
    #menu {
        display: none;
    }
    .optn {
        display: block;
    }
} 